.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 56px;
  left: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 19rem);
  top: 0;

  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-left: calc(100% - calc(100% - 19rem));
  padding-right: 1.5rem; 

}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;

  }
  #content {
    width: 100%;
    margin: 0;

  }
  #content.active {
    margin-left: 19rem;
    width: calc(100% - 19rem);
  }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background-color:white ;
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
.tablewidth{
  width: calc(100% - 0.5rem);
}
.patientbutton{
  width: calc(60% - 18rem);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.imagesIndex{
  position: relative;
 width: 90%;
 height: 80%;
 text-align: center;
 margin-left: 1rem;
 margin-top: 2.5rem;
 padding: 1rem;
}
.textidex{
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  text-align: center;
}
.imageview{
margin-top: 3rem;
}
.rowIdex{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin-top: 2rem;
  width: calc(100% - 4rem);
}
.formstyle{
  padding: 1rem;
  margin-top: 1rem;
}
.verticalcenter{
  margin-top: 0.2rem;
  display: flex;
    align-items: center;
    border-width: 5px !important ;
}
.divcontenu{
  padding: 1rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}
.rendez{
  padding: 1.5rem  !important;
}